/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Afacad', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    outline: none;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Afacad', sans-serif;
}

p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: 'Afacad', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn:hover {
    border-color: #A1DCEB;
    transition: all .5s ease-in-out;
}

.btn {
    position: relative;
    background: #3ec3fb;
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1;
    overflow: hidden;
    z-index: 2;
    border: 1px solid #3ec3fb;
}

.btn:focus-visible {
    color: #fff !important;
    background-color: #fff !important;
    border-color: 1px solid #fff !important;
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: #a1dceb;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.btn:hover:after {
    transform: scaleX(1);
}

/* top-progress-bar */
.top-progress-bar {
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 1vh;
}

.filled {
    width: 0;
    height: 100%;
    background-image: linear-gradient(45deg, #00A54F 0%, #009EE1 100%);
    /* border-radius: 10px; */
}

/* side scroll bar start */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #00A54F #009EE1;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #009EE1;
}

*::-webkit-scrollbar-thumb {
    background-color: #00A54F;
    border-radius: 10px;
    border: 3px none #ffffff;
}


.logo a img {
    max-width: 100px;
    width: 100%;
    padding: 10px;
}

.logo {
    position: relative;
    z-index: 9;
}

.main__menu ul {
    display: flex;
    justify-content: end;
}

.main__menu ul li a {
    color: #000;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    position: relative;
    font-weight: 500;
    transition: all .5s ease-in-out;
    line-height: 1;
}

.main__menu ul li a:hover {
    transform: scale(1.05);
    color: #009EE1;
}

.main__menu ul li a::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background-color: black;
    width: 100%;
    height: 2px;
    opacity: 0;
    transform-origin: left bottom;
    transform: scaleX(0);
    visibility: hidden;
    transition: all .5s ease-in-out;
}

.main__menu ul li a::before {
    position: absolute;
    left: 0;
    top: 100%;
    content: '';
    background-color: black;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform-origin: right bottom;
    transform: scaleX(0);
    height: 2px;
    transition: all .5s ease-in-out;
}

.main__menu ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}

.main__menu ul li a:hover::before {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}

/* slider start */

.slider-content h1,
.slider-content p {
    color: #fff;
}

.slider-content h1 {
    font-size: 60px;
    margin-bottom: 0;
    line-height: 1;
}

.slider-content p {
    font-size: 30px;
}

.single-slider {
    padding: 200px 0;
}

.single-slider {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.single-slider::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}

/* slider end */

/* counter start */
.gradient-border {
    --borderWidth: 3px;
    /* background: #1d1f20; */
    position: relative;
    border-radius: var(--borderWidth);
    transition: all .5s ease-in-out;
    padding: 20px;
}

.gradient-border::after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #009ee1, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.single__counter i {
    color: #fff;
    font-size: 50px;
}

.single__counter:hover {
    transform: translateY(-5px);
}

.single__counter h2 {
    font-size: 40px;
    margin-bottom: 0;
    color: #fff;
}

.single__counter h6 {
    font-size: 20px;
    color: #fff;
}

.single__counter {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: start !important;
}

.single__counter img {
    background: #dfdfdf;
    padding: 7px;
    border-radius: 50%;
}

/* counter end */

/* activity start */

.activity__content h6 {
    margin-bottom: 0;
    color: #fe8201;
    text-transform: capitalize;
}

.activity__content p {
    line-height: 1;
    color: #000;
    text-transform: capitalize;
    font-size: 15px;
}

.activity__table {
    padding: 40px;
    border-radius: 20px;
}

.activity__table__area {
    padding: 20px;
    background: #E8FAEF;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.activity__title h2 {
    font-size: 80px;
}

.activity__time {
    color: #000;
    font-weight: normal;
    font-size: 16px;
}

.activity__amount {
    font-weight: 700;
    color: #1D8348;
    font-size: 20px;
}

.single__activity {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

.single__activity:last-child {
    margin-bottom: 0;
}

.activity__photo img {
    border-radius: 25%;
}

.single__activity .progress {
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    height: 22px;
}

.single__activity .progress .progress-bar {
    background-image: linear-gradient(to right top, #fe8201, #fe8201, #fe8201, #fe8101, #fe8101);
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}

/* activity end */

/* service start */

.single__service {
    color: #009EE2;
    transition: all .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    text-align: center;
}

.single__service:hover {
    transform: translateY(-5px);
}

.single__service img {
    background: #F3DDCF;
    padding: 10px;
    width: 70px;
    border-radius: 50%;
}

.service__image {
    border: 1px solid #f3ddcf;
    padding: 8px;
    display: inline-block;
    border-radius: 50%;
}

.single__service ul li i {
    margin-right: 5px;
    color: #009ee2;
}

.single__service h2 {
    text-transform: capitalize;
    margin-top: 15px;
    color: #000;
    font-size: 22px;
    background: #F3DDCF;
    border-radius: 50px;
    padding: 3px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.single__service ul li {
    text-align: start;
    color: #666;
    font-weight: 300;
    line-height: 1.3;
    font-size: 16px;
    position: relative;
}

.single__service ul {
    margin-top: 20px !important;
}

/* service end */

/* reffral start */
.referral__area {
    background-image: url(../images/pattern-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    padding-bottom: 150px;
}

.refferal__content h2 {
    font-size: 50px;
}

.refferal__content p {
    font-size: 22px;
    line-height: 1.2;
    text-align: justify;
}


/* reffral end */

/* hiring start */

.hiring__card h1 {
    font-size: 60px;
}

.hiring__card h6 {
    font-size: 30px;
    margin: 0;
}

.hiring__card {
    background-image: url(../images/pattern-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    padding: 50px;
}

.card.hiring__card a {
    padding: 5px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    background: #fff;
    width: max-content;
}

.hiring__area {
    margin-top: -100px;
    margin-bottom: -100px;
    position: relative;
    z-index: 9;
}

/* hiring end */

/* footer start */
.footer__area {
    padding-top: 150px;
}

.footer_logo a img {
    width: 150px;
}

.footer__menu li a {
    color: #fff;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
    font-weight: 500;
}

.footer__menu li a:hover {
    color: #009EE1;
    margin-left: 5px;
}


.footer__menu li a:hover:after {
    opacity: 1;
    visibility: visible;
}

.footer_widget h3 {
    position: relative;
    color: #fff;
    padding-bottom: 10px;
}

.footer_widget h3::after {
    position: absolute;
    content: '';
    top: 100%;
    height: 2px;
    width: 50px;
    background: #009ee1;
    left: 0;
}

.footer__menu {
    margin-top: 20px;
}

.footer_logo p {
    color: #fff;
    margin-top: 10px;
    line-height: 1.3;
}

.footer__social {
    margin-top: 20px;
}

.footer__social li a {
    display: inline-block;
    background: #009ee2;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.footer__social li a i {
    color: #fff;
    transition: all .5s ease-in-out;
}

.footer__social li a:hover {
    background: #00A651;
}

.footer__social li a:hover i {
    transform: scale(1.1);
}

/* footer end */

/* body animation */
.body_animation {
    animation: rotate-all 2s 0 infinite linear alternate;
    position: absolute;
    right: 10%;
    top: 0;
}

.div1 {
    width: 80px;
    height: 80px;
    background-color: #669999;
    position: relative;
    margin: auto;
    animation: square-to-circle 2.5s .5s infinite cubic-bezier(1, .015, .295, 1.225) alternate-reverse;

}

.div2 {
    width: 80px;
    height: 80px;
    background-color: #669999;
    position: relative;
    margin: auto;
    animation: square-to-circle2 2.5s .42s infinite cubic-bezier(1, .015, .295, 1.225) alternate-reverse;
}

#one {
    top: 150px;
}

#two {
    top: 150px;
    right: 80px;
}

#three {
    top: 150px;
}

#four {
    bottom: 10px;
    left: 80px;
}

@keyframes square-to-circle {
    0% {
        border-radius: 0 0 0 0;
        background: #FE8201;
        transform: rotate(45deg);
    }

    25% {
        border-radius: 50% 0 0 0;
        background: #FE8201;
        transform: rotate(135deg);
    }

    50% {
        border-radius: 50% 50% 0 0;
        background: #FE8201;
        transform: rotate(180deg);
    }

    75% {
        border-radius: 50% 50% 50% 0;
        background: #FE8201;
        transform: rotate(315deg);
    }

    100% {
        border-radius: 50%;
        background: #FE8201;
        transform: rotate(404deg);
    }
}

@keyframes square-to-circle2 {
    0% {
        border-radius: 0 0 0 0;
        background: #FE8201;
        transform: rotate(45deg);
    }

    25% {
        border-radius: 0 0 50% 0;
        background: #FE8201;
        transform: rotate(135deg);
    }

    50% {
        border-radius: 0 0 50% 50%;
        background: #FE8201;
        transform: rotate(180deg);
    }

    75% {
        border-radius: 50% 0 50% 50%;
        background: #FE8201;
        transform: rotate(315deg);
    }

    100% {
        border-radius: 50%;
        background: #FE8201;
        transform: rotate(404deg);
    }
}

#scrollUp {
    bottom: 5px;
    right: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
}

/* referral start */

.referral__section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    padding: 100px 0;
}

.referral__section::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}

.referral__content h1 {
    color: #fff;
    font-size: 70px;
    margin-bottom: 0;
    line-height: 1.3;
}

.referral__content p {
    color: #fff;
    font-size: 30px;
    line-height: 1.3;
    margin: 30px 0;
}

.feature__heading {
    text-align: center;
}

.feature__heading span {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
}


.feature__heading span::after {
    position: absolute;
    content: '';
    left: 0;
    top: 100%;
    background: #009ee1;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}

.feature__heading span::before {
    position: absolute;
    content: '';
    background: #009ee1;
    width: 20px;
    height: 20px;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 100%;
}

.single__feature {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 50px;
    border-radius: 150px 160px 150px;
    position: relative;
    background-image: linear-gradient(to left bottom, #00bdff, #05a4df, #068cc0, #0575a2, #025e85);
    z-index: 2;
    text-align: center;
}

.single__feature::after {
    position: absolute;
    content: '';
    /* background: #fff; */
    background-image: linear-gradient(to left bottom, #e3e2e2, #eae9e9, #f1f0f1, #f8f8f8, #ffffff);
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    left: 0;
    top: 0;
    border-radius: 0 150px 0 150px;
    z-index: -1;
}

.single__feature:hover:after {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.single__feature p {
    font-size: 25px;
    line-height: 1;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 50px;
}

.single__process {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: #009ee1;
    text-align: center;
    padding: 30px;
    min-height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    max-width: 300px;
    margin: auto;
}

.single__process::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transform: rotate(170deg);
    background-color: rebeccapurple;
    z-index: -1;
}

.single__process p {
    color: #fff;
    font-size: 25px;
    line-height: 1;
}

.work_process_area {
    position: relative;
    z-index: 1;
    background-size: cover;
    animation: testiMonial 20s linear infinite;
}

@keyframes testiMonial {
    0% {
        background-position: 0 0;
    }

    15% {
        background-position: 250px 50px;
    }

    30% {
        background-position: 500px 0px;
    }

    45% {
        background-position: 750px 50px;
    }

    60% {
        background-position: 1000px 0px;
    }

    75% {
        background-position: 1250px 50px;
    }

    90% {
        background-position: 1500px 0px;
    }

    100% {
        background-position: 1750px 50px;
    }
}

/* referral end */

.promotional__content .card {
    position: relative;
    width: 100%;
    background: #009EE1;
    border-radius: 20px;
    border-top-left-radius: 70px;
    height: 450px;
    display: flex;
    align-items: center;
}

.promotional__content .card .box {
    position: absolute;
    inset: 10px;
    background: #252525;
    border-radius: 10px;
}

.promotional__content .card .box .icon {
    position: absolute;
    width: 140px;
    height: 140px;
    background: var(--clr);
    border-bottom-right-radius: 50%;
    transition: 0.5s;
}

.promotional__content .card .box .icon::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr);
}

.promotional__content .card .box .icon::after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr);
}

.promotional__content .card .box .icon .iconbox {
    position: absolute;
    inset: 10px;
    background: #252525;
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.promotional__content .card .box .icon .iconbox ion-icon {
    font-size: 4rem;
    color: var(--clr);
    --ionicon-stroke-width: 20px;
}

.promotional__content .card .box .content {
    position: absolute;
    top: 150px;
    padding: 20px;
    text-align: center;
}

.promotional__content .card .box .content h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.promotional__content .iconbox h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 40px;
}

.promotional__content .card .box .content p {
    color: #fff;
    font-size: 20px;
}

.promotional__content .card .box .content a {
    background: var(--clr);
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.5s;
}

.promotional__content .card .box .content a:hover {
    letter-spacing: 0.2rem;
}

@media only screen and (max-width: 1080px) {
    .promotional__content {
        padding: 2rem 1rem;
    }
}


/* login form */
.login__form {
    background-image: url(../images/refferal.jpg);
    position: relative;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px dotted #00a1f9;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    top: 68%;
    right: 15px;
    transform: translateY(-50%);
    color: #009ee1;
}

.login__form::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .7;
}

.login__form label {
    color: #fff;
    font-size: 20px;
}

.login__form a {
    color: #fff;
}

.login__area img {
    width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    z-index: 9;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
}

.login__area {
    padding-top: 50px;
    padding-bottom: 100px;
}

.login__form input {
    border-radius: 0;
    padding: 10px;
}

.login__form input:focus {
    box-shadow: none;
}

.login__form button {
    border: 1px solid #22324D;
    border-radius: 0;
    padding: 10px 20px;
}

.breadcrumb__content h2 {
    font-size: 40px;
    margin-bottom: 0;
}

.breadcrumb__area {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}